* {
  font-family: "Roboto mono", sans-serif;
  color: black;
  font-size: 16px;
  text-align: center;
  margin-top:5px;
}

body {
  margin: 0;
  font-family: "Roboto mono", sans-serif;
  color: black;
  background-color: rgb(190, 76, 181);
  font-size: 22px;
  text-align: center;
  margin-top: 5rem;
}

a {
  color: black;
}

h2, h3, h4, h5, p {
  margin: 0;
  padding: 10px;
 }

.main {
  padding-top: 35px;
  opacity: 0.9;
  position: 8rem ;
  margin-bottom: 35rem; /* To offset for fixed header. */
  margin-top: 60px; /* Same as the navbar height */
  padding-top: 60px;
}

.main a {
  display: block;
  max-width: 100%;
  border-radius: 2rem;
  border: 1px solid red;
  width: 200px;
  height: 100px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px;
  height: auto;
}

 .perfume-of-the-month {
  display: inline;
  margin: auto;
  padding: 2px;
  height: 3rem;
  flex-wrap: wrap;
  line-height: 1;
 } 

.perfume-of-the-month h3 {
  font-size: 22px;
  line-height: 1;
}

.perfume-of-the-month h5{
  font-size: 8px;
  line-height: 1;
}

.perfume-of-the-month p{
  font-size: 12px;
  line-height: 1;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  #perfume-section {
    flex-direction: column;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: 0;
  border-bottom: solid 1px #c6c1c1;
  background-image: url('dead possum logo.jpg');
  background-color: #4a4a4a;
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  top: 0;
  }

header .button {
  border-radius: 4px;
  color: white;
  display: inline;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  }

header .desk-top-logo {
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(43, 97, 114);
  text-align: center;
  top: 0;
  width:100%;
 }

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}
 /*Navigation Bar*/

.navbar {
  position: sticky; 
  top: 0;
  width: 100%;
  height: 60px; 
  }

.navbar p {
  display: inline-block;
  padding: 10px 10px;
  font-size: 22px;
}
nav a {
  vertical-align: bottom;
  text-align: right;
  line-height: 1.6;
  font-size: 1rem;
  color: white;
  display: flex;
}

nav a .button {
  padding: .1875rem .5rem;
  line-height: 1.6;
  color: white;
}

/*Team*/

.team {
  padding-top: 70px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teammate {
  padding: 10px;
  color: white;
  flex-basis: 280px;
}

.teammate img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 4px;
}
/*footer*/
.contact,
.copyright {
  padding-top: 20px;
}

footer .content {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* can use padding: 0 10px */
  border-bottom: 1px solid seashell;
  }
